@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
:root {
  --fontFamily: "Poppins", sans-serif;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  background-color: #d9d9d9;
}
main {
  padding: 0 16px 32px;
}
#app_title {
  text-align: center;
  font-size: 4rem;
  color: #48a300;
  font-family: var(--fontFamily);
}
#app_title span {
  color: #61481c;
}
.container {
  background-color: #fbfbfb;
  max-width: 660px;
  margin-inline: auto;
  border-radius: 15px;
  padding: 32px 48px;
  box-shadow: 0 0 8px 0px rgba(0, 0, 0, 0.1);
}
.subtitle {
  display: flex;
  font-family: var(--fontFamily);
  font-size: 2.5rem;
  font-weight: 700;
  line-height: 48px;
  text-align: left;
}
.sun-icon {
  vertical-align: middle;
  margin-left: 0.5rem;
}
.Raise_gole {
  font-family: var(--fontFamily);
  font-size: 14px;
  font-weight: 400;
  margin-top: 0.7rem;
  color: #858585;
}
.progress-bar {
  height: 40px;
  background-color: #e9f2e2;
  border-radius: 15px;
  margin-top: 0.5rem;
  position: relative;
}
.progress-value {
  background-color: #48a300;
  height: 100%;
  width: 50%;
  border-radius: 15px;
  display: flex;
  align-items: center;
}
.progress-value span {
  margin-left: 1rem;
  font-family: var(--fontFamily);
}
.goal_error{
  font-family: var(--fontFamily);
  font-weight: 400;
  position: absolute;
  color: #FF5151;
  font-size: 14px;
}
